.game-view {
  h2 {
    border-bottom: var(--border-1); /* xxx */
  }
}

@media (min-width: 800px) {
  .game-view__right {
    max-width: 200px;
  }
}

.game-view dt {
  color: var(--color-font-focus);
  margin-top: var(--pad);
}

.game-view__attr-value {
  padding-left: var(--pad);
}

.game-view__minimalized {
  font-weight: normal;
}

.game-view__image-wrapper {
  height: 250px;
  display: block;
}

.game-view__image {
  width: 100%;
  height: 100%;
}

.game-view__description-wrapper {
  position: relative;
}

.game-view__description--shrunk {
  max-height: 150px;
  overflow: hidden;
}

.game-view__description-haze {
  position: absolute;
  bottom: 0;
  pointer-events: none;
  left: 0;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 30px 0;
  background-image: linear-gradient(
180deg
,hsla(0,0%,100%,0),var(--color-bg-base));
}

.game-view__lists-list {
  padding: 0;
  list-style: none;
}

@media (min-width: 1024px) {
  .game-view__image-wrapper {
    text-align: left;
  }
}
