.game-view {
  display: grid;
  grid-template-areas: 
    "info"
    "image"
    "attributes"
    "lists";
  grid-gap: var(--pad);

  h2 {
    border-bottom: var(--border-1); /* xxx */
  }
}

.game-view__image-wrapper { grid-area: image; }
.game-view__info { grid-area: info; }
.game-view__attributes { grid-area: attributes; }
.game-view__lists { grid-area: lists; }

.game-view__value {
  font-weight: bold;
}

.game-view__key {
  color: var(--color-font-focus);
}

.game-view__image-wrapper {
  width: 100%;
  height: 250px;
}

.game-view__image {
  width: 100%;
  height: 100%;
}

.game-view__description-wrapper {
  position: relative;
}

.game-view__description--shrunk {
  max-height: 150px;
  overflow: hidden;
}

.game-view__description-haze {
  position: absolute;
  bottom: 0;
  pointer-events: none;
  left: 0;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 30px 0;
  background-image: linear-gradient(
180deg
,hsla(0,0%,100%,0),var(--color-bg-base));
}

.game-view__lists-list {
  padding: 0;
  list-style: none;
}

@media (min-width: 1024px) {
  .game-view__image-wrapper {
    text-align: left;
  }
}
