html {
  font-size: 14px;

  @media (min-width: 800px) {
    & {
      font-size: 16px;
    }
  }
}

body {
  background: var(--color-bg-base);
  color: var(--color-font-base);
  font-family: var(--font-content);
}

button, a {
  font-family: var(--font-content);
}

a:link, a:visited {
  text-decoration: none;
  color: var(--color-font-base);
}

a:hover {
  color: var(--color-font-primary);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-title);
}

h1 {
  font-size: var(--font-size-alpha);
}

h2 {
  font-size: var(--font-size-bravo);
  margin: .5rem 0;
}

h3 {
  font-size: var(--font-size-charlie);
}

h4 {
  font-size: var(--font-size-delta);
  font-weight: bold;
  color: var(--color-font-focus);
  margin: var(--pad) 0;
}

p {
  margin: .5rem 0;
}

strong {
  font-weight: bold;
  color: var(--color-font-primary);
}

figcaption {
  color: var(--color-font-focus);
}

video {
  width: 100%;
}