.game-mini {
  display: grid;
  grid-template-areas:
    "image primary"
    "image secondary";
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr auto;

  grid-gap: var(--pad);

  @media(min-width: 1024px) {
    grid-template-areas: 
      "image primary secondary"
      "image primary .";
      grid-template-columns: auto 1fr calc(225px - var(--pad) - var(--pad));
      grid-template-rows: auto 1fr;
  }
}

.game-mini__image-wrapper { grid-area: image; }
.game-mini__primary-attrs { grid-area: primary; }
.game-mini__secondary-attrs { grid-area: secondary; }

.game-mini__image {
  display: inline-block;
  width: 150px;
  height: 150px;
}

.game-mini__secondary-attrs {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 0 var(--pad);
}

.game-mini__attr-name {
  color: var(--color-font-focus);
}

.game-mini__longish {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}