.game-mini {
  display: grid;
  grid-template-areas:
    "image primary"
    "image secondary";
  grid-template-columns: auto 1fr;
  
  grid-gap: var(--pad);

  @media(min-width: 1024px) {
    grid-template-areas: 
      "image primary secondary";
    grid-template-columns: auto 1fr calc(225px - var(--pad) - var(--pad));
  }
}

.game-mini__image-wrapper { grid-area: image; }
.game-mini__primary { grid-area: primary; }
.game-mini__seconary { grid-area: secondary; }

.game-mini__image {
  display: inline-block;
  width: 88px;
  height: 88px;
}

.game-mini__primary-attrs {
  flex: 1;
  margin-left: var(--pad);
}

.game-mini__value {
  font-weight: bold;
}

.game-mini__key {
  color: var(--color-font-focus);
}

.game-mini__longish {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.game-mini__secondary-attrs {
  flex: 1;
  margin-left: var(--pad);
}