@media (min-width: 800px) {
  .creator-view__right {
    max-width: 200px;
  }
}

.creator-view__banner-wrapper {
  height: 25vh;
  max-height: 200px;
}

.creator-view__banner {
  width: 100%;
  height: 100%;
}

.creator-view__info {
  margin-top: var(--pad);

  display: grid;
  grid-template-areas:
    "avatar title"
    "desc desc";
  grid-template-columns: auto 1fr;  
  grid-gap: var(--pad);
  align-items: center;
}

.creator-view__avatar {
  grid-area: avatar;
  width: 48px;
  height: 48px;

  @media (min-width: 800px) {
    width: 64px;
    height: 64px;
  }
}

.creator-view__title {
  grid-area: title;
}

.creator-view__description {
  grid-area: desc;
}

.creator-view__lists-list {
  list-style: none;
}

.creator-view__link {
  margin-right: var(--pad);
}