.list-form__input {
  width: 100%;
}

.list-form__input-row {
  display: grid;
  grid-template-columns: auto auto 1fr;
  grid-gap: var(--pad);
}

.list-form__list-games-controls {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;

  background: var(--color-bg-focus);
  padding: var(--pad);
  border: var(--border-2);
}

.list-form__creator-section {
  display: grid;
  grid-template-columns: 1fr auto;
}

.list-form__tag-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}