.creator-brief {
  display: flex;
  flex-flow: row nowrap;

  border-bottom: var(--border-1);
}

.creator-brief__image {
  display: inline-block;
  width: 45px;
  height: 45px;
  margin: 0 auto;
}

.creator-brief__title {
  flex: 1;
  margin-left: var(--pad);
  line-height: 45px;
}