.creator-brief {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.creator-brief__title {
  margin-right: var(--pad2);
}

.creator-brief__image {
  height: var(--font-size-charlie);
  margin-right: var(--pad-half);
}