.atom-font--alpha {
  font-size: var(--font-size-alpha);
  line-height: var(--line-height-alpha);
}

.atom-font--bravo {
  font-size: var(--font-size-bravo);
  line-height: var(--line-height-bravo);
}

.atom-font--charlie {
  font-size: var(--font-size-charlie);
  line-height: var(--line-height-charlie);
}

.atom-font--delta {
  font-size: var(--font-size-delta);
  line-height: var(--line-height-delta);
}