.atom-font--alpha {
  font-size: var(--font-size-alpha);
  line-height: var(--line-height-alpha);
}

.atom-font--beta {
  font-size: var(--font-size-beta);
  line-height: var(--line-height-beta);
}

.atom-font--charlie {
  font-size: var(--font-size-charlie);
  line-height: var(--line-height-charlie);
}

.atom-font--delta {
  font-size: var(--font-size-delta);
  line-height: var(--line-height-delta);
}