.game-selector-pane {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background: var(--color-bg-base);
  width: 80%;
  z-index: 2;
  overflow-y: scroll;

  padding: var(--pad);

  @media(min-width: 800px) {
    & {
      width: 400px;
    }
  }
}

.game-selector-pane .game-brief {
  color: var(--color-font-base);
}