.nav-menu-pane {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  background: var(--color-bg-base);
  width: 80%;
  z-index: 2;
  overflow-y: scroll;

  @media(min-width: 800px) {
    & {
      width: 350px;
    }
  }
}

.nav-menu-pane__section-content {
  padding: var(--pad);
}

.nav-menu-pane__section-header {
  padding: var(--pad);
  color: var(--color-contrast-font-base);
  background: var(--color-contrast-bg-base);
}

.nav-menu-pane__item {
  margin-bottom: var(--pad);
}