.page-head {
  background: var(--color-contrast-bg-base);

  .page-head__content {
    display: flex;
    flex-flow: row nowrap;

    padding: var(--pad);
  }

  .page-head__logo {
    flex: 1;
    text-align: center;

    @media (min-width: 1024px) {
      text-align: left;
    }
  }
}