.tag-view {
  h2 {
    font-weight: bold;
    margin: 0;
  }
}

.tag-view__header-title {
  color: var(--color-font-primary);
}

.tag-view__header-images {
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 25vh;
  width: 100%;
  grid-gap: var(--pad);
  background-color: var(--color-contrast-bg-base);
  border: var(--border-4);
  border-radius: var(--pad);
}

.tag-view__header-image-wrapper {
  position: relative;
  overflow: hidden;
}

.tag-view--highlight {
  background: var(--color-contrast-bg-primary-transparent);
}

.tag-view__header-image {
  background-position: center center;
  background-size: cover; 
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.tag-view__header-image-title {
  position: absolute;
  color: var(--color-contrast-font-base);
  bottom: 0;
  background: var(--color-contrast-bg-base-transparent);
  left: 0;
  right: 0;
  padding: 0 var(--pad-quart);
}

.tag-view__title-row {
  border-bottom: var(--border-1);
  margin-bottom: var(--pad);
}

.tag-view__ordered-list-line {
  display: flex;
  flex-flow: row nowrap;
}

.tag-view__ordered-list li::marker {
  display: none;
}

.tag-view__ordered-list-number-wrapper {
  font-size: var(--font-size-alpha);
}

.tag-view__ordered-list-number {
  width: 50px;
  padding: var(--pad);
  color: var(--color-font-focus);
}

.tag-view__ordered-list-mini {
  flex: 1;
}

.tag-view__cta {
  width: 100%;
}

.tag-view__description--mobile-hidden {
  display: none;
}

@media(min-width: 800px) {
  .tag-view--two-column {
    display: grid;
    grid-gap: var(--pad);
    grid-template-columns: auto 1fr;
    margin-bottom: var(--pad3);
  }

  .tag-view--two-column .tag-view__header-images {
    grid-column: 1;
    grid-row: 1 / 4;
    width: 300px;
    height: 100%;
    grid-template-columns: 1fr;
  }

  .tag-view--two-column.tag-view--right-imgs .tag-view__header-images {
    grid-column: 2;
  }

  .tag-view--two-column .tag-view__cta {
    margin-bottom: 0;
  }

  .tag-view__description--mobile-hidden {
    display: block;
  }
}
