.creator-pills {
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  touch-action: pan-x;

  border-bottom: var(--border-1);
  margin-bottom: var(--pad2);

  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  
  &::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }
}

.creator-pills__pills {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: var(--pad);
}

.creator-pills__creator {
  border: var(--border-1);
  border-color: var(--color-font-focus);
  border-radius: 999px;
  padding: var(--pad);
  margin-right: var(--pad);
}
